<a href="https://colab.research.google.com/github/linxiaoxin/DataEngineering/blob/main/Workshop_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WORKSHOP 10 **

1a. What is 8 to the power of 4

In [1]:
print(pow(8, 4))

4096

1b. Split the string "Split this string"

In [2]:
"Split this string".split()

['Split', 'this', 'string']

1c. Given the variables: planet = “Earth”, diameter = 12742, use .format() to print the following
string “The diameter of Earth is 12742 kilometers.”

In [4]:
def formatPrint(planet, diameter):
  print("The diameter of {planet} is {diameter} kilometers.".format(planet=planet, diameter=diameter))

formatPrint("Earth", 12742)

The diameter of Earth is 12742 kilometers.

1d. Given the name list, use indexing to grab word “target”, the_list =
[1,2,[3,4],[5,[100,200,['target']],23,11],1,7]

In [10]:
mylist = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]

print(mylist[3][1][2][0])

target

1e. Given this nest dictionary grab the work “hello”. The_dic =
{'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
the_dic = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
the_dic['k1'][3]['tricky'][3]['target'][3]

'hello'

1f. Create a basic function that returns True if the word 'elephant' is contained in the input string.
Don't worry about edge cases like a punctuation being attached to the word dog, but do
account for capitalization.

In [21]:
def containsElephant(statement):
  return statement.find('elephant') >=0

print(containsElephant('There is an elephant in my room'))
print(containsElephant('There is an Elephant in my room'))
print(containsElephant('There are elephants in my room'))
print(containsElephant('There are ants in my room'))

True
False
True
False

1g. Create a function that counts the number of times the word "elephant" occurs in a string.
Again ignore edge cases

In [26]:
def countEleplant(statement):
  return statement.count('elephant')

print(countEleplant('There is an elephant in my room. The elephant is sleeping'))
print(countEleplant('There is an Elephant in my room'))
print(countEleplant('There are elephants in my room. They are sleeping'))
print(countEleplant('There are ants in my room'))

2
0
1
0

1h. Write a function to return one of 3 possible results: "Low speed", "Medium speed", or "Fast
speed". If your speed is 60 or less, the result is "Low speed". If speed is between 61 and 80
inclusive, the result is "Medium speed". If speed is 81 or more, the result is "Fast speed".
Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on
your birthday, your speed can be 5 higher in all cases.

In [36]:
def classifySpeed(speed, isBirthday):

  if speed >= 81 + (isBirthday * 5):
    return "Fast speed"
  if speed >= (61 + (isBirthday * 5)):
    return "Medium speed"

  return "Low speed"

print(classifySpeed(81, False))
print(classifySpeed(80, False))
print(classifySpeed(81, True))
print(classifySpeed(86, True))
print(classifySpeed(85, True))

print(classifySpeed(61, False))
print(classifySpeed(60, False))
print(classifySpeed(61, True))
print(classifySpeed(66, True))
print(classifySpeed(65, True))

Fast speed
Medium speed
Medium speed
Fast speed
Medium speed
Medium speed
Low speed
Low speed
Medium speed
Low speed

**PySpark operations on DataFrame**

2a. Create a PySpark DataFrame based on the given RDD

In [43]:
# install pyspark using pip
!pip install --ignore-install -q pyspark
# install findspark using pip
!pip install --ignore-install -q findspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 3.6 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [44]:
from pyspark.sql import SparkSession
import collections
spark = SparkSession.builder.master("local").appName("ws10").config('spark.ui.port', '4050').getOrCreate()

In [47]:
sc = spark.sparkContext

Data = [("James","Sales","SG",70000,34,10000),
("Michael","Sales","SG",66000,56,20000),
("Robert","Sales","MY",61000,30,23000),
("Maria","Finance","MY",60000,24,23000),
("Raman","Finance","USA",79000,40,24000),
("Scott","Finance","USA",63000,36,19000),
("Jen","Finance","UK",89000,53,15000),
("Jeff","Marketing","UK",70000,25,18000),
("Alice","Marketing","UK",78000,50,21000),
("Ada","IT","SG",83000,35,11000),
("Jackson","IT","MY",71000,30,21000),
("Cooper","IT","UK",91000,40,21000)]

#define column names
rdd = sc.parallelize(Data)

columns = ['employee_name', 'department', 'country', 'salary', 'age', 'bonus']
employees = spark.createDataFrame(rdd, columns)

employees.show()

+-------------+----------+-------+------+---+-----+
|employee_name|department|country|salary|age|bonus|
+-------------+----------+-------+------+---+-----+
|        James|     Sales|     SG| 70000| 34|10000|
|      Michael|     Sales|     SG| 66000| 56|20000|
|       Robert|     Sales|     MY| 61000| 30|23000|
|        Maria|   Finance|     MY| 60000| 24|23000|
|        Raman|   Finance|    USA| 79000| 40|24000|
|        Scott|   Finance|    USA| 63000| 36|19000|
|          Jen|   Finance|     UK| 89000| 53|15000|
|         Jeff| Marketing|     UK| 70000| 25|18000|
|        Alice| Marketing|     UK| 78000| 50|21000|
|          Ada|        IT|     SG| 83000| 35|11000|
|      Jackson|        IT|     MY| 71000| 30|21000|
|       Cooper|        IT|     UK| 91000| 40|21000|
+-------------+----------+-------+------+---+-----+

2b. Show data and print schema

In [49]:
employees.show()
employees.printSchema()

+-------------+----------+-------+------+---+-----+
|employee_name|department|country|salary|age|bonus|
+-------------+----------+-------+------+---+-----+
|        James|     Sales|     SG| 70000| 34|10000|
|      Michael|     Sales|     SG| 66000| 56|20000|
|       Robert|     Sales|     MY| 61000| 30|23000|
|        Maria|   Finance|     MY| 60000| 24|23000|
|        Raman|   Finance|    USA| 79000| 40|24000|
|        Scott|   Finance|    USA| 63000| 36|19000|
|          Jen|   Finance|     UK| 89000| 53|15000|
|         Jeff| Marketing|     UK| 70000| 25|18000|
|        Alice| Marketing|     UK| 78000| 50|21000|
|          Ada|        IT|     SG| 83000| 35|11000|
|      Jackson|        IT|     MY| 71000| 30|21000|
|       Cooper|        IT|     UK| 91000| 40|21000|
+-------------+----------+-------+------+---+-----+

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

2c. Run groupBy() on “department” columns. Calculate aggregates like minimum, maximum,
average, total salary for each group using min(), max(), avg() and sum() aggregate functions
respectively.

In [55]:
employees.select('salary', 'department').groupby('department').min().show()
employees.select('salary', 'department').groupby('department').max().show()
employees.select('salary', 'department').groupby('department').avg().show()
employees.select('salary', 'department').groupby('department').sum().show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      61000|
|   Finance|      60000|
| Marketing|      70000|
|        IT|      71000|
+----------+-----------+

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|     Sales|      70000|
|   Finance|      89000|
| Marketing|      78000|
|        IT|      91000|
+----------+-----------+

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|65666.66666666667|
|   Finance|          72750.0|
| Marketing|          74000.0|
|        IT|81666.66666666667|
+----------+-----------------+

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     197000|
|   Finance|     291000|
| Marketing|     148000|
|        IT|     245000|
+----------+-----------+

2d. Run groupBy() on “country” columns. Calculate aggregates like minimum, maximum, average,
total salary for each group using min(), max(), avg() and sum() aggregate functions
respectively.

In [57]:
employees.select('salary', 'country').groupby('country').min().show()
employees.select('salary', 'country').groupby('country').max().show()
employees.select('salary', 'country').groupby('country').avg().show()
employees.select('salary', 'country').groupby('country').sum().show()

+-------+-----------+
|country|min(salary)|
+-------+-----------+
|     MY|      60000|
|    USA|      63000|
|     SG|      66000|
|     UK|      70000|
+-------+-----------+

+-------+-----------+
|country|max(salary)|
+-------+-----------+
|     MY|      71000|
|    USA|      79000|
|     SG|      83000|
|     UK|      91000|
+-------+-----------+

+-------+-----------+
|country|avg(salary)|
+-------+-----------+
|     MY|    64000.0|
|    USA|    71000.0|
|     SG|    73000.0|
|     UK|    82000.0|
+-------+-----------+

+-------+-----------+
|country|sum(salary)|
+-------+-----------+
|     MY|     192000|
|    USA|     142000|
|     SG|     219000|
|     UK|     328000|
+-------+-----------+