<a href="https://colab.research.google.com/github/linxiaoxin/DataEngineering/blob/main/Workshop_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WORKSHOP 10 **

Import required libraries

1a. What is 8 to the power of 4

In [1]:
print(pow(8, 4))

4096

1b. Split the string "Split this string"

In [2]:
"Split this string".split()

['Split', 'this', 'string']

1c. Given the variables: planet = “Earth”, diameter = 12742, use .format() to print the following
string “The diameter of Earth is 12742 kilometers.”

In [4]:
def formatPrint(planet, diameter):
  print("The diameter of {planet} is {diameter} kilometers.".format(planet=planet, diameter=diameter))

formatPrint("Earth", 12742)

The diameter of Earth is 12742 kilometers.

1d. Given the name list, use indexing to grab word “target”, the_list =
[1,2,[3,4],[5,[100,200,['target']],23,11],1,7]

In [5]:
list = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]

list

[1, 2, [3, 4], [5, [100, 200, ['target']], 23, 11], 1, 7]