<a href="https://colab.research.google.com/github/linxiaoxin/DataEngineering/blob/main/colab/Spark%20Query%20Languages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
PySpark provides interface used to load DataFrame from external storage systems. We will learn how to read different data format files into DataFrame and write DataFrame back to different data format files using PySpark examples. Lastly, we will learn how to transfer data between JVM and Python processes using Apache Arrow efficiently.

In [1]:
# install pyspark using pip
!pip install --ignore-install -q pyspark
# install findspark using pip
!pip install --ignore-install -q findspark

#from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
import collections
spark = SparkSession.builder.master("local").appName("Ingestion").config('spark.ui.port', '4050').getOrCreate()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 17.4 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Read Driver CSV file
PySpark provides DataFrameReader to load a DataFrame from external storage systems (e.g. file systems, key-value stores, etc). Use SparkSession.read to access this. You can use format(source) to specify the input data source format.  
Using csv("path") or format("csv").load("path") of DataFrameReader, you can read a CSV file into a PySpark DataFrame, These methods take a file path to read from as an argument. When you use format("csv") method, you can also specify the data sources by their fully qualified name, but for built-in sources, you can simply use their short names (csv,json, parquet, jdbc, text e.t.c).
In this example, it shows how to read a single CSV file “people.csv” into DataFrame as well as how to use your own defined schema when read file into DataFrame.

In [5]:
# Read CSV file people.csv
df = spark.read.format('csv') \
                .option("inferSchema","true") \
                .option("header","true") \
                .load("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_Drivers.csv")

# Show result
df.show()

# Print schema
df.printSchema()

+---+-----------------+-----------+-------------+------+
|Sno|       DriverName|DriverPhone|TaxiIDDriving|Rating|
+---+-----------------+-----------+-------------+------+
|  1|Georgiana Iverson|   38587202|          209|   1.7|
|  2|   Ewell Rolstone|   88675586|          243|   4.9|
|  3|    Pedro Thacker|   94452422|          197|   2.6|
|  4|     Winn Kellard|   81521505|          456|   4.8|
|  5|   Ermin Trounson|   21644415|          372|   4.1|
|  6| Weylin Bernhardi|   89930924|          397|   4.7|
|  7|  Giuseppe Manton|   78503208|          463|   3.3|
|  8| Friedrich De'Ath|   64901517|          264|   4.4|
|  9|  Lauraine Galton|   28736147|          367|   4.7|
| 10|   Debra Willeman|   97189395|          277|   4.6|
| 11| Francene Gavriel|   88137354|           32|   4.9|
| 12|     Eyde Brosini|   34871916|          386|   4.2|
| 13|  Orelia Woolfoot|   28037658|          329|   4.1|
| 14|Christi Middleton|   97577827|          453|   4.8|
| 15|     Jamey Cecely|   48329871|          418|   4.7|
| 16|  Rosetta Matanin|   59730924|          335|   3.4|
| 17|Antonina Newlands|   50182407|          255|   3.3|
| 18|  Eilis MacGraith|   87527429|          385|   4.5|
| 19|    Cozmo Macenzy|   20817333|          503|   4.5|
| 20| Demetrius Fuente|   66677742|          500|   3.0|
+---+-----------------+-----------+-------------+------+
only showing top 20 rows

root
 |-- Sno: integer (nullable = true)
 |-- DriverName: string (nullable = true)
 |-- DriverPhone: integer (nullable = true)
 |-- TaxiIDDriving: integer (nullable = true)
 |-- Rating: double (nullable = true)

DataFrame[]

In [7]:
driversCount = df.count()
df.show(driversCount, False)

+---+-----------------------+-----------+-------------+------+
|Sno|DriverName             |DriverPhone|TaxiIDDriving|Rating|
+---+-----------------------+-----------+-------------+------+
|1  |Georgiana Iverson      |38587202   |209          |1.7   |
|2  |Ewell Rolstone         |88675586   |243          |4.9   |
|3  |Pedro Thacker          |94452422   |197          |2.6   |
|4  |Winn Kellard           |81521505   |456          |4.8   |
|5  |Ermin Trounson         |21644415   |372          |4.1   |
|6  |Weylin Bernhardi       |89930924   |397          |4.7   |
|7  |Giuseppe Manton        |78503208   |463          |3.3   |
|8  |Friedrich De'Ath       |64901517   |264          |4.4   |
|9  |Lauraine Galton        |28736147   |367          |4.7   |
|10 |Debra Willeman         |97189395   |277          |4.6   |
|11 |Francene Gavriel       |88137354   |32           |4.9   |
|12 |Eyde Brosini           |34871916   |386          |4.2   |
|13 |Orelia Woolfoot        |28037658   |329          |4.1   |
|14 |Christi Middleton      |97577827   |453          |4.8   |
|15 |Jamey Cecely           |48329871   |418          |4.7   |
|16 |Rosetta Matanin        |59730924   |335          |3.4   |
|17 |Antonina Newlands      |50182407   |255          |3.3   |
|18 |Eilis MacGraith        |87527429   |385          |4.5   |
|19 |Cozmo Macenzy          |20817333   |503          |4.5   |
|20 |Demetrius Fuente       |66677742   |500          |3.0   |
|21 |Tabb Zottoli           |42475817   |336          |4.7   |
|22 |Goober Harnetty        |72662822   |129          |3.5   |
|23 |Guendolen Mowsdell     |53587405   |496          |4.2   |
|24 |Cart Fragino           |84304833   |478          |4.7   |
|25 |Free Grayson           |63040549   |423          |2.4   |
|26 |Casper Rizzi           |49012801   |252          |4.3   |
|27 |Kasey Minker           |52769994   |451          |4.9   |
|28 |Matthus Eddoes         |95283646   |217          |2.7   |
|29 |Wayland Minghella      |70656393   |116          |4.7   |
|30 |Liam Severn            |61623142   |234          |4.1   |
|31 |Viviene Felce          |82918521   |337          |4.5   |
|32 |Maryl Friend           |64723245   |48           |4.8   |
|33 |Kikelia Darmody        |73985415   |31           |4.6   |
|34 |Mitchel McGilmartin    |97360724   |75           |2.5   |
|35 |Lindsey Titlow         |63986122   |121          |4.1   |
|36 |Alie Hovington         |99768661   |415          |4.6   |
|37 |Herta Toone            |41609095   |191          |4.9   |
|38 |Sammy Tabourier        |55279256   |267          |4.2   |
|39 |Hank Hayller           |99914480   |413          |4.8   |
|40 |Aili Simione           |14216611   |344          |3.6   |
|41 |Timmi Manston          |71608714   |445          |4.2   |
|42 |Frannie Magnar         |56840926   |163          |5.0   |
|43 |Karleen Ollive         |57064017   |325          |2.8   |
|44 |Mavis Setch            |44518456   |124          |4.4   |
|45 |Walden Stubbes         |29851767   |361          |4.6   |
|46 |Billie Logsdail        |76817765   |331          |4.3   |
|47 |Elysha Dalrymple       |85018116   |105          |4.2   |
|48 |Roshelle Vedenichev    |84190028   |149          |4.6   |
|49 |Cortney Cleminson      |80390722   |405          |4.2   |
|50 |Ollie Bricksey         |34936870   |260          |4.2   |
|51 |Matty Wing             |78478409   |279          |3.9   |
|52 |Romonda Wodeland       |82644803   |274          |3.1   |
|53 |Shellysheldon Dunnett  |55942025   |84           |3.5   |
|54 |Philippa Ambrosoli     |42607299   |82           |4.2   |
|55 |Jenna Fundell          |70832944   |507          |4.1   |
|56 |Easter Ornelas         |53338047   |348          |3.3   |
|57 |Dukie Easey            |81132059   |113          |4.8   |
|58 |Westley Freddi         |24626556   |282          |4.7   |
|59 |Keith Merrin           |41210618   |265          |4.3   |
|60 |Aguste Grabban         |57449768   |14           |4.2   |
|61 |Eada Kee               |69428458   |354          |4.7   |
|62 |Ashil Keppie           |75684471   |43           |4.6   |
|63 |Milly Balas            |89321763   |235          |1.5   |
|64 |Luca Sigmund           |31414525   |101          |4.2   |
|65 |Mose Leap              |15449155   |15           |4.3   |
|66 |Urban Digg             |70418536   |276          |3.4   |
|67 |Maudie Jerzycowski     |29259439   |438          |4.5   |
|68 |Annabell Huggens       |87762857   |24           |4.5   |
|69 |Elisha Penright        |39257626   |71           |3.2   |
|70 |Stephie Iacobetto      |97198884   |414          |3.7   |
|71 |Tyson Kusick           |20219130   |465          |4.1   |
|72 |Floria Amos            |37773900   |203          |4.1   |
|73 |Celine Bromont         |10126673   |104          |4.7   |
|74 |Eva Slyne              |31801957   |183          |4.7   |
|75 |Elicia Tanzer          |77454449   |296          |3.4   |
|76 |Coraline Rapa          |79066493   |8            |4.8   |
|77 |Felisha Hamnett        |28510895   |311          |4.1   |
|78 |Janice Briscow         |61428789   |229          |4.8   |
|79 |Berkly Egiloff         |90144129   |74           |3.5   |
|80 |Abdel Popple           |85674065   |87           |3.8   |
|81 |Yolanthe Rowatt        |19261781   |433          |4.9   |
|82 |Pavla Eallis           |33745601   |365          |4.6   |
|83 |Arlen Kilroy           |39659748   |295          |4.5   |
|84 |Eryn Bissell           |41573281   |100          |4.8   |
|85 |Abbey Vale             |13312870   |92           |3.4   |
|86 |Allen Corkhill         |11970832   |138          |1.9   |
|87 |Titos Starmer          |87127199   |51           |4.1   |
|88 |Lannie Braywood        |20621744   |127          |3.7   |
|89 |Laney Rack             |25113837   |513          |4.2   |
|90 |Wolfy Osman            |71721050   |439          |2.8   |
|91 |Valerye Attride        |52945516   |214          |4.6   |
|92 |Moe Meffin             |77098776   |110          |4.7   |
|93 |Crin Roberds           |35742598   |206          |4.6   |
|94 |Eveleen Ranking        |36958743   |377          |1.0   |
|95 |Heloise Charity        |59356774   |285          |4.7   |
|96 |Roseline Tabbernor     |55110318   |345          |4.5   |
|97 |Paxon Sibbson          |75160974   |37           |4.6   |
|98 |Sibby Pitherick        |40826179   |109          |3.0   |
|99 |Nehemiah Crichten      |81762841   |313          |4.9   |
|100|Lani Bader             |75989464   |246          |4.3   |
|101|Marga Probey           |18906488   |494          |3.6   |
|102|Janek Yosselevitch     |27784313   |185          |4.4   |
|103|Sabrina Blakden        |39951489   |504          |4.3   |
|104|Frances Durbridge      |77383702   |216          |4.7   |
|105|Janelle Winter         |10269230   |294          |4.2   |
|106|Barby Ugoni            |71234990   |86           |1.9   |
|107|Jessie Eastbury        |45999824   |383          |4.3   |
|108|Hakeem Turgoose        |25804659   |40           |4.4   |
|109|Marion Cordle          |57467225   |145          |4.1   |
|110|Adelle Hedau           |76024152   |192          |4.9   |
|111|Alejandrina Jossel     |45003040   |417          |5.0   |
|112|Homere Nossent         |67414021   |436          |4.5   |
|113|Corbett Raven          |50126024   |444          |4.4   |
|114|Curr Mozzini           |66555756   |514          |3.2   |
|115|Melina Dewey           |28414108   |103          |4.6   |
|116|Jonell Coie            |12857367   |135          |4.9   |
|117|Rodina Pitone          |44520890   |91           |4.2   |
|118|Batholomew Sone        |63372048   |426          |4.4   |
|119|Sloane Meharg          |27753427   |49           |4.1   |
|120|Gilli Thornally        |16861435   |186          |3.3   |
|121|Kristian Lehemann      |11114612   |483          |4.2   |
|122|Obed Lineker           |64565212   |459          |4.8   |
|123|Trace Levane           |11521564   |338          |5.0   |
|124|Daloris Grubbe         |10782542   |59           |3.6   |
|125|Electra Piser          |61884095   |115          |4.5   |
|126|Gusta Strevens         |21718179   |211          |4.2   |
|127|Marj Keats             |55979173   |447          |5.0   |
|128|Gwendolen Chalker      |63967708   |381          |3.9   |
|129|Orbadiah Magee         |61176583   |352          |4.2   |
|130|Angelika Surgen        |19805329   |432          |2.2   |
|131|Latisha Taylo          |22657988   |72           |4.7   |
|132|Maisey Powell          |80228242   |117          |4.2   |
|133|Adelheid Govey         |96445700   |1            |4.6   |
|134|Cari Neathway          |56488434   |442          |4.6   |
|135|Julianna Fray          |67407126   |435          |4.5   |
|136|Liva Owens             |69752948   |130          |3.7   |
|137|Clarinda Vaadeland     |42474275   |102          |4.3   |
|138|Aviva Coggles          |48136714   |45           |4.5   |
|139|Vivianne Neale         |57602108   |220          |3.7   |
|140|Roobbie Hrihorovich    |73232693   |202          |4.7   |
|141|Tobin Coursor          |78156123   |258          |3.5   |
|142|Hill Withur            |68266617   |462          |3.7   |
|143|Case Lumbley           |72832917   |278          |4.9   |
|144|Fidelity Kilpatrick    |78843915   |475          |4.3   |
|145|Gaynor Malser          |69910302   |430          |4.3   |
|146|Spenser Hyett          |61656760   |511          |4.1   |
|147|Sammie Ofer            |95690808   |142          |4.3   |
|148|Danie Mellmoth         |64171197   |448          |4.4   |
|149|Aguistin Dodswell      |82254437   |198          |3.9   |
|150|Dorise De'Vere - Hunt  |57205759   |269          |4.0   |
|151|Arlyn Elkins           |26365653   |409          |3.3   |
|152|Gilbert Dilley         |42740683   |218          |4.9   |
|153|Jobyna Kiehne          |17127391   |248          |2.9   |
|154|Morganica Camerello    |89657027   |305          |3.3   |
|155|Wilhelm Caush          |29183865   |268          |4.3   |
|156|Nicolis Roocroft       |14137711   |18           |4.5   |
|157|Rickie Mahaddy         |13746022   |318          |3.1   |
|158|Simmonds Masdin        |82578210   |387          |4.6   |
|159|Agatha Deans           |43943989   |351          |4.6   |
|160|Cristi Diemer          |98653540   |136          |4.9   |
|161|Blakelee Goadby        |97472363   |3            |4.8   |
|162|Rod Silburn            |85479964   |499          |4.7   |
|163|Molly Frossell         |18719048   |332          |4.8   |
|164|Abigail Alexsandrev    |74596248   |479          |2.5   |
|165|Gail Prestie           |16675077   |273          |0.8   |
|166|Melisandra Saffe       |97067814   |472          |3.1   |
|167|Marillin Kunath        |19727328   |22           |4.8   |
|168|Analiese Mulroy        |92483047   |257          |3.3   |
|169|Titus Fittall          |68661161   |272          |4.2   |
|170|Pascal Janz            |61426654   |323          |2.8   |
|171|Cosimo McKeating       |69607355   |481          |3.6   |
|172|Pam Mandal             |13286157   |394          |4.2   |
|173|Allayne O'Scully       |87765545   |261          |4.3   |
|174|Rodrick Abry           |26437439   |330          |4.3   |
|175|Rakel Fosten           |80794818   |143          |4.5   |
|176|Lowrance Stitcher      |15653193   |99           |3.2   |
|177|Janifer Knapman        |20499547   |64           |4.5   |
|178|Fina Claybourn         |39260910   |13           |3.0   |
|179|Mable Sodor            |46364931   |406          |4.1   |
|180|Jordan Boughey         |87897072   |289          |4.7   |
|181|Karel Foulser          |45296479   |83           |4.2   |
|182|Amye Roden             |33732942   |205          |4.8   |
|183|Vittorio Partrick      |12981691   |165          |4.7   |
|184|Erl Skews              |30473080   |286          |4.2   |
|185|Eduardo Burdytt        |11819646   |182          |1.4   |
|186|Zaccaria Pearmain      |80583247   |57           |4.1   |
|187|Hollie Kassel          |21451946   |306          |4.7   |
|188|Ada Hayball            |99797490   |208          |4.5   |
|189|Leighton Tupp          |94582414   |334          |4.7   |
|190|Arden Dealy            |17860883   |30           |3.6   |
|191|Wat Falkinder          |24137692   |73           |2.7   |
|192|Bev Sergant            |52336379   |492          |4.4   |
|193|Joshua Ivanov          |13462113   |291          |4.5   |
|194|Wes Breckell           |64327709   |484          |2.4   |
|195|Fidelio Ribchester     |21870885   |4            |2.0   |
|196|Marco Rymmer           |66532029   |146          |3.7   |
|197|Elvina Tewes           |93740598   |263          |4.2   |
|198|Lexi Zarfati           |41365033   |490          |4.2   |
|199|Tally Bruyet           |43570764   |65           |4.4   |
|200|Terri Farrimond        |89924262   |150          |4.1   |
|201|Cullin Wiz             |15410989   |174          |4.6   |
|202|Francisco Blaxeland    |26484106   |139          |3.1   |
|203|Rosabella Titmus       |74100061   |93           |4.2   |
|204|Norean Richard         |23405361   |159          |3.5   |
|205|Manny Woffenden        |45879669   |199          |4.4   |
|206|Koressa Edridge        |75610724   |196          |3.6   |
|207|Paolo Hitschke         |24430817   |486          |3.7   |
|208|Jimmy Poutress         |20966076   |134          |4.1   |
|209|L;urette Lourens       |33207342   |271          |4.9   |
|210|Pammi Llorens          |18293458   |419          |3.4   |
|211|Shurwood Eidler        |41657399   |70           |4.8   |
|212|Ric Donisi             |97942579   |215          |3.2   |
|213|Sharai Caulcutt        |71160332   |194          |3.1   |
|214|Morry Calbert          |32689247   |307          |3.8   |
|215|Shirlee Mildenhall     |10298083   |280          |4.5   |
|216|Trude Corris           |41305677   |33           |4.6   |
|217|Emmeline Maly          |84861795   |493          |4.3   |
|218|Devan Winsom           |84156097   |411          |4.1   |
|219|Aurelia Titmuss        |51735123   |407          |2.4   |
|220|Albrecht Guilliland    |88426273   |156          |4.8   |
|221|Sadye Kollach          |97576398   |441          |4.9   |
|222|Bibbye Marriage        |84542614   |201          |5.0   |
|223|Eve Thunderman         |93663694   |315          |4.3   |
|224|Lea Boyland            |95755355   |29           |3.9   |
|225|Clarence Corre         |21210066   |455          |4.4   |
|226|Louise Claiton         |85215246   |5            |4.3   |
|227|Yevette Dunguy         |68493146   |293          |4.5   |
|228|Marge Sachno           |71148434   |249          |2.3   |
|229|Nickie Widdows         |97878946   |187          |3.5   |
|230|Garik Leynton          |79580986   |56           |4.9   |
|231|Astra Beades           |23067659   |42           |4.9   |
|232|Christie MacLennan     |67372089   |161          |4.6   |
|233|Yetta de Vaen          |19934147   |55           |2.9   |
|234|Ches Scopham           |62962672   |160          |3.2   |
|235|Ninnette Peacop        |63601655   |62           |3.9   |
|236|Quincey Rouff          |42500932   |125          |4.4   |
|237|Sile McGrale           |44689828   |58           |4.2   |
|238|Crysta Coulthurst      |23943173   |324          |4.3   |
|239|Glenn Curry            |83646559   |369          |3.1   |
|240|Hart Levene            |79626937   |108          |4.6   |
|241|Emmalee Mayworth       |82843684   |427          |4.3   |
|242|Stefanie Arguile       |53781273   |328          |4.5   |
|243|Lark Demelt            |40270607   |228          |2.4   |
|244|Darbie Flew            |13831383   |21           |1.1   |
|245|Clem Tales             |77090560   |167          |3.5   |
|246|Gertrude Verty         |94585878   |425          |3.2   |
|247|Lee Traice             |38262954   |449          |4.3   |
|248|Gauthier Vasse         |46509802   |340          |4.7   |
|249|Randee Agge            |39782543   |193          |4.8   |
|250|Izak Sobieski          |74589644   |85           |3.8   |
|251|Aharon Ferrarotti      |71067156   |204          |4.8   |
|252|Blake Scourfield       |26118397   |389          |4.9   |
|253|Mellicent Wayt         |59631568   |512          |4.2   |
|254|Marijo Barukh          |94271716   |230          |4.7   |
|255|Petunia M'Chirrie      |66343693   |487          |4.6   |
|256|Augusta Blanchard      |53079125   |347          |4.4   |
|257|Xena Codd              |28322033   |176          |4.9   |
|258|Joann Zealey           |59136398   |88           |4.4   |
|259|Yuri Amott             |60936894   |61           |2.5   |
|260|Jeromy Timbs           |81019555   |232          |4.8   |
|261|Emmery Dunston         |87262593   |173          |2.4   |
|262|Decca Oxshott          |56894492   |144          |4.9   |
|263|Dunstan Drinkwater     |55341109   |467          |2.5   |
|264|Horatio Ehrat          |68751083   |378          |4.8   |
|265|Elie Pottie            |28886840   |231          |3.5   |
|266|Lela Wrankling         |82578684   |168          |4.1   |
|267|Goldy Lifton           |66913040   |46           |4.2   |
|268|Nat Blowfelde          |86728184   |440          |4.5   |
|269|Rudolfo Adamovsky      |85402076   |452          |3.1   |
|270|Aldwin Vicarey         |92947610   |450          |4.4   |
|271|Gwynne Nipper          |52791898   |446          |2.7   |
|272|Jasmina Gwyther        |24438047   |119          |3.1   |
|273|Ailsun Cooksley        |56372451   |341          |4.1   |
|274|Kakalina Matz          |48236727   |363          |4.9   |
|275|Suzanna Bendan         |10387259   |393          |3.9   |
|276|Levey Skippings        |21970507   |339          |4.6   |
|277|Ernesta Miller         |18934973   |200          |4.3   |
|278|Tony Hartrick          |82729784   |368          |4.3   |
|279|Charyl Mateiko         |40285583   |327          |4.9   |
|280|Keir Fasse             |36233434   |326          |3.2   |
|281|Fernando Jelphs        |64451935   |288          |4.7   |
|282|Franchot Jedrzejczyk   |31564414   |155          |4.5   |
|283|Amory Skep             |38805056   |396          |4.1   |
|284|Ami Jurasz             |77704502   |190          |4.8   |
|285|Umeko Lachaize         |20980084   |152          |4.7   |
|286|Kimble Yallop          |77866623   |177          |4.2   |
|287|Tom Brewers            |76329686   |304          |5.0   |
|288|Boonie Ledrun          |87823287   |428          |4.4   |
|289|Nadeen Losbie          |60612584   |47           |4.9   |
|290|Tracie MacRannell      |94505699   |498          |3.5   |
|291|Therine Tripp          |68075602   |50           |4.4   |
|292|Dorian Mocquer         |21411242   |2            |4.9   |
|293|Mellisa Giacomini      |81578322   |283          |0.7   |
|294|Meg Gairdner           |74883951   |253          |3.3   |
|295|Natal Teasdale         |11515156   |25           |4.2   |
|296|Sampson Hugonet        |70192261   |39           |4.7   |
|297|Stillman Terbrugge     |18871584   |158          |3.3   |
|298|Jinny Wordington       |99534217   |471          |4.4   |
|299|Kimberlee Hounsom      |66060040   |308          |3.4   |
|300|Ximenez Greenley       |50157978   |421          |3.1   |
|301|Blinnie Glasspool      |94091433   |28           |4.0   |
|302|Bili Ossenna           |89022835   |299          |4.8   |
|303|Renelle Heimes         |58728853   |317          |5.0   |
|304|Amelia Alcott          |31893235   |137          |5.0   |
|305|Yanaton Rosettini      |27176332   |118          |4.9   |
|306|Janetta Witton         |43855635   |281          |4.3   |
|307|Kimble Caddens         |90389410   |474          |4.8   |
|308|Tamarah Molden         |87881790   |16           |4.1   |
|309|Vidovic Moat           |66772321   |256          |4.3   |
|310|Bibbie Shelvey         |99504597   |506          |4.4   |
|311|Mabel Murton           |68994469   |172          |4.6   |
|312|Irma Brookz            |17555949   |454          |1.4   |
|313|Willy Torfin           |68565670   |362          |4.6   |
|314|Michaelina Hainning    |62059565   |508          |4.4   |

In [ ]:

# Write DataFrame to CSV
df.write.csv("people.csv", header=True, mode="overwrite")
df.show()

+-----+---+---------+
| name|age|      job|
+-----+---+---------+
|Jorge| 30|Developer|
|  Bob| 32|Developer|
+-----+---+---------+

# Read Taxi JSON
PySpark, a Python API for Apache Spark, handles JSON data efficiently using its powerful data processing capabilities. Some capabilities are:
1. Reading / Writing from/to DataFrame/RDD
2. Handling Nested JSON
3. Performance tuning via caching, partition control and cluster management.

In [8]:
df = spark.read .option("inferSchema","true") \
                .option("header","true") \
                .option("multiline","True") \
                .json("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_TaxiCabs.json")
df.show()
df.printSchema()

+--------+---------+------+--------------------+----------+---------------------+--------+
|  TMDTID|TaxiColor|TaxiID|       TaxiMakeModel|TaxiNumber|TaxiPassengerCapacity|TaxiType|
+--------+---------+------+--------------------+----------+---------------------+--------+
|TMA73889|   Yellow|     1|      Toyota Carolla|   SHZ2770|                    4|Standard|
|TMC04591|    Green|     2|        Suzuki Swift|   SHY4378|                    4|Mini Cab|
|TMA12020|     Blue|     3|        Toyota Prius|   SHX6464|                    4|Standard|
|TMB02825|   Silver|     4| Toyota Camry Hybrid|   SHX4872|                    4| Premier|
|TMC12882|    Green|     5|        Suzuki Swift|   SHX2609|                    4|Mini Cab|
|TMC45713|    Cream|     6|      Mercedes Viano|   SHY9111|                    7|Maxi Cab|
|TMA78092|     Blue|     7|Hyundai Ioniq Hybrid|   SHX5867|                    4|Standard|
|TMB17549|     Blue|     8|         Hyundai i40|   SHY6907|                    4|Standard|
|TMB85775|   Yellow|     9|      Toyota Carolla|   SHX7766|                    4|Standard|
|TMA15463|    Green|    10|        Suzuki Swift|   SHX5844|                    4|Mini Cab|
|TMB39828|     Blue|    11|      Toyota Carolla|   SHX3617|                    4|Standard|
|TMC91623|   Yellow|    12|      Toyota Carolla|   SHX7492|                    4|Standard|
|TMA52923|    Green|    13|        Suzuki Swift|   SHX6232|                    4|Mini Cab|
|TMB11620|     Blue|    14|             Kia EV6|   SHY5882|                    5| Premier|
|TMA71532|    White|    15|       Mercedes Benz|   SHX7048|                    4|Limosine|
|TMB67907|   Silver|    16| Toyota Camry Hybrid|   SHY9209|                    4| Premier|
|TMA39051|    White|    17|       Mercedes Benz|   SHY9725|                    4|Limosine|
|TMC66738|     Grey|    18| Toyota Camry Hybrid|   SHY2915|                    4| Premier|
|TMC76150|   Yellow|    19|        Toyota Prius|   SHX2226|                    4|Standard|
|TMA67971|   Yellow|    20|        Toyota Prius|   SHY4290|                    4|Standard|
+--------+---------+------+--------------------+----------+---------------------+--------+
only showing top 20 rows

In [9]:
df.sort('TaxiNumber').show()

+--------+---------+------+--------------------+----------+---------------------+--------+
|  TMDTID|TaxiColor|TaxiID|       TaxiMakeModel|TaxiNumber|TaxiPassengerCapacity|TaxiType|
+--------+---------+------+--------------------+----------+---------------------+--------+
|TMB18597|    White|    59|       Mercedes Benz|   SHX0106|                    4|Limosine|
|TMB76389|   Yellow|   464|Hyundai Ioniq Hybrid|   SHX0278|                    4|Standard|
|TMA22172|   Yellow|   352|Hyundai Ioniq Hybrid|   SHX0354|                    4|Standard|
|TMB30762|     Grey|   236| Toyota Camry Hybrid|   SHX0399|                    4| Premier|
|TMA25750|     Grey|   188| Toyota Camry Hybrid|   SHX0541|                    4| Premier|
|TMB51371|    White|    32|       Mercedes Benz|   SHX0588|                    4|Limosine|
|TMC74051|    Black|   378|     Toyota Vellfire|   SHX0613|                    6|Maxi Cab|
|TMA27837|     Blue|   460|         Hyundai i40|   SHX0694|                    4|Standard|
|TMC96842|     Blue|   247|             Kia EV6|   SHX0732|                    5| Premier|
|TMC20008|   Yellow|   260|        Toyota Prius|   SHX0791|                    4|Standard|
|TMA66613|   Yellow|   132|             Kia EV6|   SHX0830|                    5| Premier|
|TMB27976|    Brown|   104|           Honda Fit|   SHX0897|                    3|Mini Cab|
|TMC78239|   Yellow|   239|         Hyundai i40|   SHX0907|                    4|Standard|
|TMA72574|      Red|   507|           Honda Fit|   SHX0915|                    3|Mini Cab|
|TMA63673|      Red|   512|           Honda Fit|   SHX0915|                    3|Mini Cab|
|TMA38948|    White|   164|       Mercedes Benz|   SHX0941|                    4|Limosine|
|TMB11317|   Yellow|    51|        Toyota Prius|   SHX1022|                    4|Standard|
|TMC80644|    White|   272|       Mercedes Benz|   SHX1030|                    4|Limosine|
|TMC80617|      Red|   115|           Honda Fit|   SHX1043|                    3|Mini Cab|
|TMA49443|     Blue|   102|      Toyota Carolla|   SHX1081|                    4|Standard|
+--------+---------+------+--------------------+----------+---------------------+--------+
only showing top 20 rows

df.sort('TaxiNumber').show()

In [15]:
df.where("TaxiType = 'Premier' AND TaxiPassengerCapacity= 4").show()

+--------+---------+------+-------------------+----------+---------------------+--------+
|  TMDTID|TaxiColor|TaxiID|      TaxiMakeModel|TaxiNumber|TaxiPassengerCapacity|TaxiType|
+--------+---------+------+-------------------+----------+---------------------+--------+
|TMB02825|   Silver|     4|Toyota Camry Hybrid|   SHX4872|                    4| Premier|
|TMB67907|   Silver|    16|Toyota Camry Hybrid|   SHY9209|                    4| Premier|
|TMC66738|     Grey|    18|Toyota Camry Hybrid|   SHY2915|                    4| Premier|
|TMC10802|     Grey|    23|Toyota Camry Hybrid|   SHY9485|                    4| Premier|
|TMA12261|     Grey|    37|Toyota Camry Hybrid|   SHY7838|                    4| Premier|
|TMA41233|   Silver|    43|Toyota Camry Hybrid|   SHX5153|                    4| Premier|
|TMA79747|     Grey|    57|Toyota Camry Hybrid|   SHY3876|                    4| Premier|
|TMB16199|   Silver|    60|Toyota Camry Hybrid|   SHZ3746|                    4| Premier|
|TMC67061|   Silver|    84|Toyota Camry Hybrid|   SHX4335|                    4| Premier|
|TMA22969|     Grey|    98|Toyota Camry Hybrid|   SHY2548|                    4| Premier|
|TMA98590|   Silver|   108|Toyota Camry Hybrid|   SHX7074|                    4| Premier|
|TMB35280|     Grey|   149|Toyota Camry Hybrid|   SHZ7300|                    4| Premier|
|TMB49478|   Silver|   152|Toyota Camry Hybrid|   SHY8172|                    4| Premier|
|TMC46427|   Silver|   167|Toyota Camry Hybrid|   SHY4629|                    4| Premier|
|TMC70256|   Silver|   174|Toyota Camry Hybrid|   SHY4078|                    4| Premier|
|TMA25750|     Grey|   188|Toyota Camry Hybrid|   SHX0541|                    4| Premier|
|TMA29795|   Silver|   199|Toyota Camry Hybrid|   SHX6044|                    4| Premier|
|TMA38700|   Silver|   228|Toyota Camry Hybrid|   SHY2306|                    4| Premier|
|TMB30762|     Grey|   236|Toyota Camry Hybrid|   SHX0399|                    4| Premier|
|TMB53278|     Grey|   241|Toyota Camry Hybrid|   SHY6935|                    4| Premier|
+--------+---------+------+-------------------+----------+---------------------+--------+
only showing top 20 rows

Retrieve all 4 seaters Premier Taxi

In [ ]:
df.select('TaxiNumber', 'TaxiType', 'TaxiColor').where("TaxiType = 'Premier'").show()

# Read Trip DATA CSV

In [16]:
# Read CSV file people.csv
df = spark.read.format('csv') \
                .option("inferSchema","true") \
                .option("header","true") \
                .load("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_TripData.csv")

# Show result
df.show()

+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|Sno|    Date|Day|Hour of Day|Trip Start Time HHMM|  Pickup District| DropOff District|Distance Travelled|Trip Duration in Seconds|      Trip End Time|Taxi Number|Taxi Type|Taxi Capacity|Number Of Passengers|Trip Fare|Passenger ID|Passenger Name|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|  1|1-Jan-24|Mon|          0| 2024-07-20 00:01:00|        Kew Drive|         Clementi|              25.1|                    3001|2024-07-20 01:50:00|    SHY6685| Standard|            4|                   2|    49.91|       11841|     Ellen Han|
|  2|1-Jan-24|Mon|          0| 2024-07-20 00:01:00|           Marina|    Clementi Park|              12.8|                    1671|2024-07-20 00:29:00|    SHY1488| Mini Cab|            3|                   3|    28.17|       10126|  Matthew Feng|
|  3|1-Jan-24|Mon|          0| 2024-07-20 00:02:00|           Bishan|      Hume Avenue|              19.8|                    3332|2024-07-20 01:57:00|    SHX0354| Standard|            4|                   1|    44.67|       11259|      Agnes Bi|
|  4|1-Jan-24|Mon|          0| 2024-07-20 00:05:00|      Suntec City| Upper East Coast|              16.8|                    2904|2024-07-20 01:52:00|    SHZ0338| Mini Cab|            3|                   1|    37.54|       10710|   Harry Huang|
|  5|1-Jan-24|Mon|          0| 2024-07-20 00:06:00|        Chinatown|          Geylang|              17.6|                    2413|2024-07-20 01:45:00|    SHY5827| Mini Cab|            4|                   3|    34.62|       11250|  Frederick Ke|
|  6|1-Jan-24|Mon|          0| 2024-07-20 00:08:00|   Admiralty Road|      High Street|              13.6|                    1812|2024-07-20 01:37:00|    SHX4463|  Premier|            4|                   4|    28.71|       12313|    George Guo|
|  7|1-Jan-24|Mon|          0| 2024-07-20 00:08:00|       Macpherson|   Admiralty Road|               2.3|                     507|2024-07-20 00:16:00|    SHX7806| Maxi Cab|            7|                   7|     8.11|       11347|     Ethel Man|
|  8|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|      Middle Road|Orchard Boulevard|               4.9|                     845|2024-07-20 00:23:00|    SHY1409| Standard|            4|                   1|    12.43|       11178|   Judith Gong|
|  9|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|       East Coast|         Hillview|              29.5|                    3740|2024-07-20 01:10:00|    SHX7554| Standard|            4|                   2|    55.69|       11554|     Ruby Ling|
| 10|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|North Bridge Road|      Middle Road|               2.1|                     489|2024-07-20 00:17:00|    SHY6024| Standard|            4|                   1|     7.74|       12225|     Derek Cha|
| 11|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|        Pasir Ris|          Seletar|               9.9|                    1097|2024-07-20 00:28:00|    SHX2773| Standard|            4|                   1|    24.69|       10667|   Kelly Chang|
| 12|1-Jan-24|Mon|          0| 2024-07-20 00:10:00|            Bedok|           Marina|              18.0|                    2739|2024-07-20 01:55:00|    SHY0615| Standard|            4|                   3|    42.85|       10937|    Iris Zhang|
| 13|1-Jan-24|Mon|          0| 2024-07-20 00:10:00|   Admiralty Road|       Queenstown|               8.7|                    1332|2024-07-20 01:32:00|    SHY7111| Standard|            4|                   1|    20.52|       10578|     Jane Heng|
| 14|1-Jan-24|Mon|          0| 2024-07-20 00:11:00|      Paya Lebar |    Clementi Park|              22.3|                    3267|2024-07-20 01:05:00|    SHY9805| Mini Cab|            3|                   2|     43.0|       10501|     Alan Weng|
| 15|1-Jan-24|Mon|          0| 2024-07-20 00:12:00|     Harbourfront|    Sungei Gedong|              19.3|                    2668|2024-07-20 01:56:00|    SHX7757| Maxi Cab|            6|                   3|    38.23|       10146|  Sai Merchant|
| 16|1-Jan-24|Mon|          0| 2024-07-20 00:12:00|          Seletar|           Keppel|               5.2|                     957|2024-07-20 00:28:00|    SHY4520|  Premier|            4|                   2|    14.47|       12074|    Melissa Wu|
| 17|1-Jan-24|Mon|          0| 2024-07-20 00:14:00|      Shenton Way|      Bouna Vista|               5.9|                     942|2024-07-20 00:29:00|    SHY9111| Standard|            4|                   4|    14.53|       11260|     Louis Tai|
| 18|1-Jan-24|Mon|          0| 2024-07-20 00:14:00|      Tanjong Rhu|           Jurong|              25.9|                    3261|2024-07-20 01:08:00|    SHZ9323| Maxi Cab|            7|                   6|    54.62|       12139|     Sydney Ke|
| 19|1-Jan-24|Mon|          0| 2024-07-20 00:16:00|             Sims|           Katong|               3.4|                     583|2024-07-20 00:26:00|    SHZ6559| Mini Cab|            4|                   2|    10.04|       11583|   Parin Dubey|
| 20|1-Jan-24|Mon|          0| 2024-07-20 00:22:00| Upper East Coast|           Yishun|               5.6|                     902|2024-07-20 01:36:00|    SHX9762| Standard|            4|                   4|    15.29|       10885|   Rosina Teng|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
only showing top 20 rows

Average distance per trip in January 2024

In [20]:
from pyspark.sql.functions import *

df.agg(avg("Distance Travelled")).first()[0]

11.90267497177833

Total Fare collected by taxi type

In [59]:
df.groupBy('Taxi Type').sum("Trip Fare").where(df['Taxi Type'] == 'Maxi Cab').first()[1]

124899.2199999994

Average Occupancies (no of passenger/passenger capacity) for standtaxi

In [66]:
df.where(df['Taxi Type'] == 'Standard').agg(avg(df['Number Of Passengers']/df['Taxi Capacity'])).first()[0]

0.5380241501943595

Fare collected by day of week from Mon to Sunday

In [75]:
df.cube('Day','Hour of Day').sum('Trip Fare').sort('Day').show()

+----+-----------+------------------+
| Day|Hour of Day|    sum(Trip Fare)|
+----+-----------+------------------+
|NULL|         16| 35219.11999999999|
|NULL|         15| 26466.63000000004|
|NULL|         12| 27622.38999999998|
|NULL|         21|  69611.3300000002|
|NULL|          6| 53495.05000000001|
|NULL|          7| 98835.91999999977|
|NULL|         11|26267.180000000004|
|NULL|          0|          14407.94|
|NULL|          4| 27207.75000000001|
|NULL|         23| 27986.88000000001|
|NULL|          2| 27876.15000000002|
|NULL|         17| 62625.73000000003|
|NULL|          9| 88342.87999999982|
|NULL|          8|115967.63000000008|
|NULL|       NULL|1178257.5900000082|
|NULL|          3|28214.950000000033|
|NULL|         10| 45799.61000000005|
|NULL|         14|25106.230000000003|
|NULL|         18|  81033.4800000002|
|NULL|         13|27023.370000000014|
+----+-----------+------------------+
only showing top 20 rows

Compare total number of trips made by all taxis in weekend vs total

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `DAY == 'Mon'` cannot be resolved. Did you mean one of the following? [`Date`, `Day`, `Hour of Day`, `Sno`, `Taxi Type`].;
'Project ['DAY == 'Mon']
+- Relation [Sno#431,Date#432,Day#433,Hour of Day#434,Trip Start Time HHMM#435,Pickup District#436, DropOff District#437,Distance Travelled#438,Trip Duration in Seconds#439,Trip End Time#440,Taxi Number#441,Taxi Type#442,Taxi Capacity#443,Number Of Passengers#444,Trip Fare#445,Passenger ID#446,Passenger Name#447] csv