<a href="https://colab.research.google.com/github/linxiaoxin/DataEngineering/blob/main/colab/Spark%20Query%20Language%20Workshop%20Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
PySpark provides interface used to load DataFrame from external storage systems. We will learn how to read different data format files into DataFrame and write DataFrame back to different data format files using PySpark examples. Lastly, we will learn how to transfer data between JVM and Python processes using Apache Arrow efficiently.

In [6]:
# install pyspark using pip
!pip install --ignore-install -q pyspark
# install findspark using pip
!pip install --ignore-install -q findspark

#from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
import collections
spark = SparkSession.builder.master("local").appName("Ingestion").config('spark.ui.port', '4050').getOrCreate()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 17.9 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Read Driver CSV file
PySpark provides DataFrameReader to load a DataFrame from external storage systems (e.g. file systems, key-value stores, etc). Use SparkSession.read to access this. You can use format(source) to specify the input data source format.  
Using csv("path") or format("csv").load("path") of DataFrameReader, you can read a CSV file into a PySpark DataFrame, These methods take a file path to read from as an argument. When you use format("csv") method, you can also specify the data sources by their fully qualified name, but for built-in sources, you can simply use their short names (csv,json, parquet, jdbc, text e.t.c).
In this example, it shows how to read a single CSV file “people.csv” into DataFrame as well as how to use your own defined schema when read file into DataFrame.

In [5]:
# Read CSV file people.csv
df = spark.read.format('csv') \
                .option("inferSchema","true") \
                .option("header","true") \
                .load("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_Drivers.csv")

# Show result
df.show()

# Print schema
df.printSchema()

+---+-----------------+-----------+-------------+------+
|Sno|       DriverName|DriverPhone|TaxiIDDriving|Rating|
+---+-----------------+-----------+-------------+------+
|  1|Georgiana Iverson|   38587202|          209|   1.7|
|  2|   Ewell Rolstone|   88675586|          243|   4.9|
|  3|    Pedro Thacker|   94452422|          197|   2.6|
|  4|     Winn Kellard|   81521505|          456|   4.8|
|  5|   Ermin Trounson|   21644415|          372|   4.1|
|  6| Weylin Bernhardi|   89930924|          397|   4.7|
|  7|  Giuseppe Manton|   78503208|          463|   3.3|
|  8| Friedrich De'Ath|   64901517|          264|   4.4|
|  9|  Lauraine Galton|   28736147|          367|   4.7|
| 10|   Debra Willeman|   97189395|          277|   4.6|
| 11| Francene Gavriel|   88137354|           32|   4.9|
| 12|     Eyde Brosini|   34871916|          386|   4.2|
| 13|  Orelia Woolfoot|   28037658|          329|   4.1|
| 14|Christi Middleton|   97577827|          453|   4.8|
| 15|     Jamey Cecely|   48329871|          418|   4.7|
| 16|  Rosetta Matanin|   59730924|          335|   3.4|
| 17|Antonina Newlands|   50182407|          255|   3.3|
| 18|  Eilis MacGraith|   87527429|          385|   4.5|
| 19|    Cozmo Macenzy|   20817333|          503|   4.5|
| 20| Demetrius Fuente|   66677742|          500|   3.0|
+---+-----------------+-----------+-------------+------+
only showing top 20 rows

root
 |-- Sno: integer (nullable = true)
 |-- DriverName: string (nullable = true)
 |-- DriverPhone: integer (nullable = true)
 |-- TaxiIDDriving: integer (nullable = true)
 |-- Rating: double (nullable = true)

DataFrame[]

In [ ]:
driversCount = df.count()
df.show(driversCount, False)

In [ ]:

# Write DataFrame to CSV
df.write.csv("people.csv", header=True, mode="overwrite")
df.show()

+-----+---+---------+
| name|age|      job|
+-----+---+---------+
|Jorge| 30|Developer|
|  Bob| 32|Developer|
+-----+---+---------+

# Read Taxi JSON
PySpark, a Python API for Apache Spark, handles JSON data efficiently using its powerful data processing capabilities. Some capabilities are:
1. Reading / Writing from/to DataFrame/RDD
2. Handling Nested JSON
3. Performance tuning via caching, partition control and cluster management.

In [ ]:
df = spark.read .option("inferSchema","true") \
                .option("header","true") \
                .option("multiline","True") \
                .json("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_TaxiCabs.json")
df.show()
df.printSchema()

In [ ]:
df.sort('TaxiNumber').show()

df.sort('TaxiNumber').show()

In [ ]:
df.where("TaxiType = 'Premier' AND TaxiPassengerCapacity= 4").show()

Retrieve all 4 seaters Premier Taxi

In [ ]:
df.select('TaxiNumber', 'TaxiType', 'TaxiColor').where("TaxiType = 'Premier'").show()

# Read Trip DATA CSV

In [24]:
# Read CSV file people.csv
trips = spark.read.format('csv') \
                .option("inferSchema","true") \
                .option("header","true") \
                .load("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_TripData.csv")

# Show result
df.show()

+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|Sno|    Date|Day|Hour of Day|Trip Start Time HHMM|  Pickup District| DropOff District|Distance Travelled|Trip Duration in Seconds|      Trip End Time|Taxi Number|Taxi Type|Taxi Capacity|Number Of Passengers|Trip Fare|Passenger ID|Passenger Name|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|  1|1-Jan-24|Mon|          0| 2024-07-20 00:01:00|        Kew Drive|         Clementi|              25.1|                    3001|2024-07-20 01:50:00|    SHY6685| Standard|            4|                   2|    49.91|       11841|     Ellen Han|
|  2|1-Jan-24|Mon|          0| 2024-07-20 00:01:00|           Marina|    Clementi Park|              12.8|                    1671|2024-07-20 00:29:00|    SHY1488| Mini Cab|            3|                   3|    28.17|       10126|  Matthew Feng|
|  3|1-Jan-24|Mon|          0| 2024-07-20 00:02:00|           Bishan|      Hume Avenue|              19.8|                    3332|2024-07-20 01:57:00|    SHX0354| Standard|            4|                   1|    44.67|       11259|      Agnes Bi|
|  4|1-Jan-24|Mon|          0| 2024-07-20 00:05:00|      Suntec City| Upper East Coast|              16.8|                    2904|2024-07-20 01:52:00|    SHZ0338| Mini Cab|            3|                   1|    37.54|       10710|   Harry Huang|
|  5|1-Jan-24|Mon|          0| 2024-07-20 00:06:00|        Chinatown|          Geylang|              17.6|                    2413|2024-07-20 01:45:00|    SHY5827| Mini Cab|            4|                   3|    34.62|       11250|  Frederick Ke|
|  6|1-Jan-24|Mon|          0| 2024-07-20 00:08:00|   Admiralty Road|      High Street|              13.6|                    1812|2024-07-20 01:37:00|    SHX4463|  Premier|            4|                   4|    28.71|       12313|    George Guo|
|  7|1-Jan-24|Mon|          0| 2024-07-20 00:08:00|       Macpherson|   Admiralty Road|               2.3|                     507|2024-07-20 00:16:00|    SHX7806| Maxi Cab|            7|                   7|     8.11|       11347|     Ethel Man|
|  8|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|      Middle Road|Orchard Boulevard|               4.9|                     845|2024-07-20 00:23:00|    SHY1409| Standard|            4|                   1|    12.43|       11178|   Judith Gong|
|  9|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|       East Coast|         Hillview|              29.5|                    3740|2024-07-20 01:10:00|    SHX7554| Standard|            4|                   2|    55.69|       11554|     Ruby Ling|
| 10|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|North Bridge Road|      Middle Road|               2.1|                     489|2024-07-20 00:17:00|    SHY6024| Standard|            4|                   1|     7.74|       12225|     Derek Cha|
| 11|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|        Pasir Ris|          Seletar|               9.9|                    1097|2024-07-20 00:28:00|    SHX2773| Standard|            4|                   1|    24.69|       10667|   Kelly Chang|
| 12|1-Jan-24|Mon|          0| 2024-07-20 00:10:00|            Bedok|           Marina|              18.0|                    2739|2024-07-20 01:55:00|    SHY0615| Standard|            4|                   3|    42.85|       10937|    Iris Zhang|
| 13|1-Jan-24|Mon|          0| 2024-07-20 00:10:00|   Admiralty Road|       Queenstown|               8.7|                    1332|2024-07-20 01:32:00|    SHY7111| Standard|            4|                   1|    20.52|       10578|     Jane Heng|
| 14|1-Jan-24|Mon|          0| 2024-07-20 00:11:00|      Paya Lebar |    Clementi Park|              22.3|                    3267|2024-07-20 01:05:00|    SHY9805| Mini Cab|            3|                   2|     43.0|       10501|     Alan Weng|
| 15|1-Jan-24|Mon|          0| 2024-07-20 00:12:00|     Harbourfront|    Sungei Gedong|              19.3|                    2668|2024-07-20 01:56:00|    SHX7757| Maxi Cab|            6|                   3|    38.23|       10146|  Sai Merchant|
| 16|1-Jan-24|Mon|          0| 2024-07-20 00:12:00|          Seletar|           Keppel|               5.2|                     957|2024-07-20 00:28:00|    SHY4520|  Premier|            4|                   2|    14.47|       12074|    Melissa Wu|
| 17|1-Jan-24|Mon|          0| 2024-07-20 00:14:00|      Shenton Way|      Bouna Vista|               5.9|                     942|2024-07-20 00:29:00|    SHY9111| Standard|            4|                   4|    14.53|       11260|     Louis Tai|
| 18|1-Jan-24|Mon|          0| 2024-07-20 00:14:00|      Tanjong Rhu|           Jurong|              25.9|                    3261|2024-07-20 01:08:00|    SHZ9323| Maxi Cab|            7|                   6|    54.62|       12139|     Sydney Ke|
| 19|1-Jan-24|Mon|          0| 2024-07-20 00:16:00|             Sims|           Katong|               3.4|                     583|2024-07-20 00:26:00|    SHZ6559| Mini Cab|            4|                   2|    10.04|       11583|   Parin Dubey|
| 20|1-Jan-24|Mon|          0| 2024-07-20 00:22:00| Upper East Coast|           Yishun|               5.6|                     902|2024-07-20 01:36:00|    SHX9762| Standard|            4|                   4|    15.29|       10885|   Rosina Teng|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
only showing top 20 rows

Average distance per trip in January 2024

In [8]:
from pyspark.sql.functions import *

df.agg(avg("Distance Travelled")).first()[0]

11.90267497177833

Total Fare collected by taxi type

In [59]:
df.groupBy('Taxi Type').sum("Trip Fare").where(df['Taxi Type'] == 'Maxi Cab').first()[1]

124899.2199999994

Average Occupancies (no of passenger/passenger capacity) for standtaxi

In [66]:
df.where(df['Taxi Type'] == 'Standard').agg(avg(df['Number Of Passengers']/df['Taxi Capacity'])).first()[0]

0.5380241501943595

Fare collected by day of week from Mon to Sunday

In [75]:
df.cube('Day','Hour of Day').sum('Trip Fare').sort('Day').show()

+----+-----------+------------------+
| Day|Hour of Day|    sum(Trip Fare)|
+----+-----------+------------------+
|NULL|         16| 35219.11999999999|
|NULL|         15| 26466.63000000004|
|NULL|         12| 27622.38999999998|
|NULL|         21|  69611.3300000002|
|NULL|          6| 53495.05000000001|
|NULL|          7| 98835.91999999977|
|NULL|         11|26267.180000000004|
|NULL|          0|          14407.94|
|NULL|          4| 27207.75000000001|
|NULL|         23| 27986.88000000001|
|NULL|          2| 27876.15000000002|
|NULL|         17| 62625.73000000003|
|NULL|          9| 88342.87999999982|
|NULL|          8|115967.63000000008|
|NULL|       NULL|1178257.5900000082|
|NULL|          3|28214.950000000033|
|NULL|         10| 45799.61000000005|
|NULL|         14|25106.230000000003|
|NULL|         18|  81033.4800000002|
|NULL|         13|27023.370000000014|
+----+-----------+------------------+
only showing top 20 rows

Compare total number of trips made by all taxis in weekend vs total

In [20]:


weekdayFare = df.where("DAY not in ('Sat', 'Sun')").agg(sum('Trip Fare')).first()[0]
print(f"weekday fare collected ${weekdayFare}")

weekendFare= df.where("DAY in ('Sat', 'Sun')").agg(sum('Trip Fare')).first()[0]
print(f"weekend fare collected ${weekendFare}")

print(f"Difference: , {weekdayFare - weekendFare}")

weekday fare collected $959439.0700000038
weekend fare collected $218818.52000000043
Difference: ,  740620.55

Import Passenger Data

In [23]:
# Read CSV file people.csv
passenger = spark.read.format('csv') \
                .option("inferSchema","true") \
                .option("header","true") \
                .load("/content/drive/MyDrive/Colab Notebooks/data/BEAD_Rebu_Passengers.csv")

# Show result
df.show()

+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|Sno|    Date|Day|Hour of Day|Trip Start Time HHMM|  Pickup District| DropOff District|Distance Travelled|Trip Duration in Seconds|      Trip End Time|Taxi Number|Taxi Type|Taxi Capacity|Number Of Passengers|Trip Fare|Passenger ID|Passenger Name|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|  1|1-Jan-24|Mon|          0| 2024-07-20 00:01:00|        Kew Drive|         Clementi|              25.1|                    3001|2024-07-20 01:50:00|    SHY6685| Standard|            4|                   2|    49.91|       11841|     Ellen Han|
|  2|1-Jan-24|Mon|          0| 2024-07-20 00:01:00|           Marina|    Clementi Park|              12.8|                    1671|2024-07-20 00:29:00|    SHY1488| Mini Cab|            3|                   3|    28.17|       10126|  Matthew Feng|
|  3|1-Jan-24|Mon|          0| 2024-07-20 00:02:00|           Bishan|      Hume Avenue|              19.8|                    3332|2024-07-20 01:57:00|    SHX0354| Standard|            4|                   1|    44.67|       11259|      Agnes Bi|
|  4|1-Jan-24|Mon|          0| 2024-07-20 00:05:00|      Suntec City| Upper East Coast|              16.8|                    2904|2024-07-20 01:52:00|    SHZ0338| Mini Cab|            3|                   1|    37.54|       10710|   Harry Huang|
|  5|1-Jan-24|Mon|          0| 2024-07-20 00:06:00|        Chinatown|          Geylang|              17.6|                    2413|2024-07-20 01:45:00|    SHY5827| Mini Cab|            4|                   3|    34.62|       11250|  Frederick Ke|
|  6|1-Jan-24|Mon|          0| 2024-07-20 00:08:00|   Admiralty Road|      High Street|              13.6|                    1812|2024-07-20 01:37:00|    SHX4463|  Premier|            4|                   4|    28.71|       12313|    George Guo|
|  7|1-Jan-24|Mon|          0| 2024-07-20 00:08:00|       Macpherson|   Admiralty Road|               2.3|                     507|2024-07-20 00:16:00|    SHX7806| Maxi Cab|            7|                   7|     8.11|       11347|     Ethel Man|
|  8|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|      Middle Road|Orchard Boulevard|               4.9|                     845|2024-07-20 00:23:00|    SHY1409| Standard|            4|                   1|    12.43|       11178|   Judith Gong|
|  9|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|       East Coast|         Hillview|              29.5|                    3740|2024-07-20 01:10:00|    SHX7554| Standard|            4|                   2|    55.69|       11554|     Ruby Ling|
| 10|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|North Bridge Road|      Middle Road|               2.1|                     489|2024-07-20 00:17:00|    SHY6024| Standard|            4|                   1|     7.74|       12225|     Derek Cha|
| 11|1-Jan-24|Mon|          0| 2024-07-20 00:09:00|        Pasir Ris|          Seletar|               9.9|                    1097|2024-07-20 00:28:00|    SHX2773| Standard|            4|                   1|    24.69|       10667|   Kelly Chang|
| 12|1-Jan-24|Mon|          0| 2024-07-20 00:10:00|            Bedok|           Marina|              18.0|                    2739|2024-07-20 01:55:00|    SHY0615| Standard|            4|                   3|    42.85|       10937|    Iris Zhang|
| 13|1-Jan-24|Mon|          0| 2024-07-20 00:10:00|   Admiralty Road|       Queenstown|               8.7|                    1332|2024-07-20 01:32:00|    SHY7111| Standard|            4|                   1|    20.52|       10578|     Jane Heng|
| 14|1-Jan-24|Mon|          0| 2024-07-20 00:11:00|      Paya Lebar |    Clementi Park|              22.3|                    3267|2024-07-20 01:05:00|    SHY9805| Mini Cab|            3|                   2|     43.0|       10501|     Alan Weng|
| 15|1-Jan-24|Mon|          0| 2024-07-20 00:12:00|     Harbourfront|    Sungei Gedong|              19.3|                    2668|2024-07-20 01:56:00|    SHX7757| Maxi Cab|            6|                   3|    38.23|       10146|  Sai Merchant|
| 16|1-Jan-24|Mon|          0| 2024-07-20 00:12:00|          Seletar|           Keppel|               5.2|                     957|2024-07-20 00:28:00|    SHY4520|  Premier|            4|                   2|    14.47|       12074|    Melissa Wu|
| 17|1-Jan-24|Mon|          0| 2024-07-20 00:14:00|      Shenton Way|      Bouna Vista|               5.9|                     942|2024-07-20 00:29:00|    SHY9111| Standard|            4|                   4|    14.53|       11260|     Louis Tai|
| 18|1-Jan-24|Mon|          0| 2024-07-20 00:14:00|      Tanjong Rhu|           Jurong|              25.9|                    3261|2024-07-20 01:08:00|    SHZ9323| Maxi Cab|            7|                   6|    54.62|       12139|     Sydney Ke|
| 19|1-Jan-24|Mon|          0| 2024-07-20 00:16:00|             Sims|           Katong|               3.4|                     583|2024-07-20 00:26:00|    SHZ6559| Mini Cab|            4|                   2|    10.04|       11583|   Parin Dubey|
| 20|1-Jan-24|Mon|          0| 2024-07-20 00:22:00| Upper East Coast|           Yishun|               5.6|                     902|2024-07-20 01:36:00|    SHX9762| Standard|            4|                   4|    15.29|       10885|   Rosina Teng|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
only showing top 20 rows

Total fares paid by gold status

In [36]:
#Join tables

goldPassengers = (passenger.where("MemSilvererStGoldtus = 'Gold'")
  .join(trips, passenger.PassengerID == trips["Passenger ID"])
  .agg(sum("Trip Fare"))
  .first()[0]
)

Total = (trips.agg(sum("Trip Fare"))
  .first()[0]
)

print(f"% of fares from Gold passenger {goldPassengers/Total * 100}")

% of fares from Gold passenger 27.735394431025718